<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon name="bicycle-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Teume Sport
    </ion-title>
    <ion-buttons slot="end">
      <ion-buttons routerLink="/akun">
        <ion-icon slot="icon-only" name="person" ></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-header class="ion-no-border">
  <br/>
  <ion-toolbar>
    <ion-title> Next Race</ion-title>
    <ion-button slot="start" color="success">
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>


<ion-content>
 <ion-card>
  <table class="table" >
    <thead>
      <tr>

        <th scope="col" class="k1">Nama</th>
        <th scope="col" class="k1">Tempat</th>
        <th scope="col" class="k1">Tanggal</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="baris">Mark</td>
        <td class="baris">Otto</td>
        <td class="baris">@mdo</td>
      </tr>
      <!-- <tr>

        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>

        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
      </tr>
    </tbody> -->
  </table>

 </ion-card>
</ion-content>
