<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-icon name="bicycle-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Teume Sport
    </ion-title>
    <ion-buttons slot="end">
      <ion-buttons routerLink="/akun">
        <ion-icon slot="icon-only" name="person" ></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border" >
  <ion-toolbar >
    <ion-button slot="start" color="light">
      <ion-back-button color="dark" text="" icon="chevron-back-outline"></ion-back-button>
    </ion-button>
    <h3> Riders </h3>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let p of player.players">
  <ion-list >
    <ion-card>
      <ion-grid>
        <ion-row>
          <ion-col class="ion-text-center">
            <img src="{{ p.strCutout }}" weight="100%"><br/>
          </ion-col>
          <ion-col class="ion-text-start">
            <h4><strong> {{ p.strPlayer }} </strong></h4>
            <h8> {{ p.strTeam }} </h8>
          </ion-col>
          <ion-col class="ion-text-center" *ngFor="let d of detail">
            <h6 class="negara">{{ p.strNationality }}</h6> <br/>
            <ion-button id="{{ p.idPlayer }}" color="dark" size="small" [routerLink]="d.link">{{ d.label }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>

</ion-content>
