<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <a href="/app/home/home.page.html">
          <img class="logo-gp" src="https://www.thesportsdb.com/images/media/league/badge/rppvpw1422400797.png/preview" height="60px">
        </a>
      </ion-buttons>

      <ion-title class="ion-text-center">
        <h1 class="tl">Teume Sport</h1>
      </ion-title>
      <ion-buttons slot="end">
        <ion-buttons routerLink="/akun">
          <ion-icon slot="icon-only" name="person" ></ion-icon>
        </ion-buttons>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet></ion-router-outlet>
  <br/> <br/> <br/>
</ion-app>
