<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon name="bicycle-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Teume Sport
    </ion-title>
    <ion-buttons slot="end">
      <ion-buttons routerLink="/akun">
        <ion-icon slot="icon-only" name="person" ></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <br/>
  <ion-toolbar>
    <ion-title> Kategori Baru</ion-title>
    <ion-button slot="start" color="success">
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item class="form" lines="none">
    <ion-input type="text" placeholder="Nama Kategori" [(ngModel)]="kategori.nama"></ion-input>
  </ion-item>
  <ion-item class="form" lines="none">
    <ion-textarea rows="4" placeholder="Keterangan singkat" [(ngModel)]="kategori.keterangan"></ion-textarea>
  </ion-item>

  <ion-list-header>
    <ion-label>Sub Kategori</ion-label>
  </ion-list-header>
  <ion-item class="form" lines="none">
    <ion-input type="text" placeholder="Nama Sub-Kategori" [(ngModel)]="subkategori"></ion-input>
    <ion-button slot="end" [disabled]="!subkategori" (click)="addSub()">Tambah</ion-button>
  </ion-item>

  <ion-card *ngFor="let item of kategori.sub">
    <ion-item lines="none">
      <ion-label>{{ item }}</ion-label>
      <ion-button slot="end" fill="clear" color="danger" (click)="removeSub(item)">
        <ion-icon slot="icon-only" name="trash"> </ion-icon>
      </ion-button>
    </ion-item>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-button expand="block" [disabled]="!kategori.nama" (click)="simpan()">Save</ion-button>
</ion-footer>
