<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon name="bicycle-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Teume Sport
    </ion-title>
    <ion-buttons slot="end">
      <ion-buttons routerLink="/akun">
        <ion-icon slot="icon-only" name="person" ></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border" >
  <ion-toolbar >
    <ion-button slot="start" color="light">
      <ion-back-button text="" icon="chevron-back-outline"></ion-back-button>
    </ion-button>
    <h3> Detail </h3>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let p of player.players">
 <ion-card>
    {{ p.strDescriptionEN }} <br/>
    {{ p.dateBorn }} <br/>
    {{ p.strHeight }} <br/>
    <a href="{{ p.strFacebook }}"> Facebook {{ p.strPlayer }}</a> <br/>
    <a href="{{ p.strInstagram }}"> Instagram {{ p.strPlayer }}</a>
 </ion-card>
</ion-content>
