.header{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

.header h1{
    margin-top: 10px;
    margin-left: 2%;
}

.header img{
    margin-left: 10px;
}

.person{
    margin-left: 25%;
    margin-right: 5%;
}

.ion-text-start h3{
    margin-left: 20px;
}