<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-icon name="bicycle-outline" size="large"></ion-icon>
    </ion-buttons>
    <ion-title class="ion-text-center">
      Teume Sport
    </ion-title>
    <ion-buttons slot="end">
      <ion-buttons routerLink="/akun">
        <ion-icon slot="icon-only" name="person" ></ion-icon>
      </ion-buttons>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title> Preview MotorGP</ion-title>
    <ion-button slot="start" color="success">
      <ion-back-button></ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-card *ngFor="let w of motor.results">
    <img src="https://www.thesportsdb.com/images/media/event/thumb/{{w.Poster}}" height="200px"><br/>
    <ion-card-header>
        <ion-card-subtitle>
          {{ w.Round }} | {{ w.date | date:'dd-MMM-yyyy ' }}
        </ion-card-subtitle>
        <ion-card-title>{{ w.Grand_Prix_of_Qatar }}</ion-card-title>
      </ion-card-header>
  </ion-card>
  
</ion-content>
